:root{
    --bg-blue:#93B5C9;
    --bg-wine:#AB2849;
}

body{
    margin:0;
    padding:0;
}

.blue{
    background-color: var(--bg-blue);
    width:100%;
    height: 9rem;
  
}

.red{
    background-color: var(--bg-wine);
}

.big-red{
    width:100%;
    height:14rem;
    margin-bottom: 18px;
}

.central-red{
    float: left;
    margin-bottom: 18px;
    width:80%;
    height:7.5rem;
}

.bottom-red{
    width: 95%;
    height: 6rem;
    margin: 0 auto;
    clear: both;
}